<?php
/**
 * Copyright 2012-2013, Cake Development Corporation (http://cakedc.com)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright Copyright 2012-2013, Cake Development Corporation (http://cakedc.com)
 * @license MIT License (http://www.opensource.org/licenses/mit-license.php)
 */
?>
<div class="row">
	<h1>
		<?php echo __('Get Involved!'); ?>
	</h1>
	<p>
		<?php echo __('If you\'re interested in contributing to <strong>CakePHP</strong> and supporting the community then we\'d love for you to join us, there are a variety of ways to get involved and help out.'); ?>
	</p>
	<h2>
		<?php echo __('User Support'); ?>
	</h2>
	<p>
		<?php echo __('One of the greatest ways to contribute to <strong>CakePHP</strong> is by directly supporting the developer community. There\'s no need to be a genius or guru to get involved, you may just have the answer to some of the questions being asked. Here are some ways you can get started:'); ?>
	</p>
	<ul>
		<li>
			<?php echo __('Join the #cakephp IRC channel and talk to developers who need help.'); ?> <strong>*</strong>
		</li>
		<li>
			<?php echo __('Answer questions on platforms such and <a href="http://ask.cakephp.org" target="_blank" title="CakePHP Questions and Answers">Q&A</a>, <a href="http://stackoverflow.com/tags/cakephp" target="_blank" title="CakePHP discussions on StackOverflow">StackOverflow</a> and <a href="http://www.quora.com/CakePHP" target="_blank" title="CakePHP questions and answers on Quora">Quora</a>.'); ?>
		</li>
		<li>
			<?php echo __('Comment on posts asking for help with a specific problem.'); ?>
		</li>
	</ul>
	<p>
		<strong>*</strong> <em><?php echo __('For those who don\'t have an IRC client we have a web-based client available <a href="http://webchat.freenode.net/?channels=cakephp&uio=MT1mYWxzZSY5PXRydWUmMTE9MjQ2b8" target="_blank" title="CakePHP IRC Channel on Freenode (web client)">here</a>.'); ?></em>
	</p>
	<h2>
		<?php echo __('Education and Training'); ?>
	</h2>
	<p>
		<?php echo __('Helping others to learn <strong>CakePHP</strong> is another valuable way to contribute to the community. There are many ways you can help others, these include:'); ?>
	</p>
	<ul>
		<li>
			<?php echo __('Coding Seminars'); ?>
		</li>
		<li>
			<?php echo __('Live Workshops'); ?>
		</li>
		<li>
			<?php echo __('Hackathons'); ?>
		</li>
		<li>
			<?php echo __('Training Courses'); ?>
		</li>
		<li>
			<?php echo __('Tutorials'); ?>
		</li>
	</ul>
	<p>
		<?php echo __('Additionally, we offer professional <a href="http://training.cakephp.org" target="_blank" title="CakePHP training">training</a> for <strong>CakePHP</strong>, as well as the opportunity to become an officially certified <strong>CakePHP</strong> developer through the developer certification program.'); ?>
	</p>
	<h2>
		<?php echo __('Marketing and Evangelism'); ?>
	</h2>
	<p>
		<?php echo __('As an open source project, backed by the <a href="http://cakefoundation.org" target="_blank" title="Cake Software Foundation">Cake Software Foundation, Inc</a>, we don\'t have a massive budget to market and advertise the framework, so we depend on people like <em style="text-decoration: underline;">you</em> getting involved and helping support the community. There are many actions which can help raise awareness, share experiences and educate your fellow developers about <strong>CakePHP</strong>.'); ?>
	</p>
	<h3>
		<?php echo __('Write and Talk About CakePHP'); ?>
	</h3>
	<p>
		<?php echo __('Actively writing and talking about <strong>CakePHP</strong> helps spread the word about the framework.'); ?>
	</p>
	<ul>
		<li>
			<?php echo __('Write an article or blog post about a certain feature or development experience.'); ?>
		</li>
		<li>
			<?php echo __('Comment on articles or posts and provide ideas and arguments which invite further conversation and feedback.'); ?>
		</li>
		<li>
			<?php echo __('Use social platforms such as <a href="http://www.facebook.com/groups/cake.community" target="_blank" title="Official CakePHP Group on Facebook">Facebook</a>, <a href="http://goo.gl/mSC0s" target="_blank" title="Official CakePHP Community on Google Plus">Google+</a> or <a href="http://twitter.com/CakePHP" target="_blank" title="CakePHP on Twitter">Twitter</a> to provide links to articles, posts, plugins, events, etc.'); ?>
		</li>
	</ul>
	<h3>
		<?php echo __('Help Your Local Community'); ?>
	</h3>
	<p>
		<?php echo __('We depend on people who know and understand their local community. This not only refers to the difference in the language, but also the local customs and cultural differences. You can help us by connecting with your local community and supporting <strong>CakePHP</strong>. A few actions you can undertake include:'); ?>
	</p>
	<ul>
		<li>
			<?php echo __('Starting or joining a local user group'); ?>
		</li>
		<li>
			<?php echo __('Organizing events or meet-ups'); ?>
		</li>
		<li>
			<?php echo __('Distributing information and awareness'); ?>
		</li>
	</ul>
	<h2>
		<?php echo __('Contributing Code'); ?>
	</h2>
	<p>
		<?php echo __('If you want to contribute code for a bug fix then coordinate your patch in the comments of the ticket, either by uploading the patch file, or linking to the commit(s) for the fix. You can find a clear outline for contribution to the framework <a href="http://book.cakephp.org/2.0/en/contributing/code.html" target="_blank" title="CakePHP Contribution Guidelines">here</a>.'); ?>
	</p>
	<h3>
		<?php echo __('Contributing via Patch Files.'); ?>
	</h3>
	<p>
		<?php echo __('Patch files should be either in unified diff files, or generated with git format-patch.'); ?>
	</p>
	<h3>
		<?php echo __('Contributing via Commits on a GitHub Fork.'); ?>
	</h3>
	<p>
		<?php echo __('Contributing via commits on a <a href="http://github.com/cakephp/cakephp" target="_blank" title="Official CakePHP repository on GitHub">GitHub</a> fork is the preferred way of submitting fixes. If your fix is more than a single commit, you should put the fix on an appropriately named branch. This makes integration of the fix easier.'); ?>
	</p>
	<h2>
		<?php echo __('Testing and Quality Assurance'); ?>
	</h2>
	<p>
		<?php echo __('Filing tickets is a great way to start contributing to <strong>CakePHP</strong>. By finding and reporting issues in the code you notify the maintainers of any issues and help get them resolved. Tickets for all <strong>CakePHP</strong> projects are located at <a href="http://cakephp.lighthouseapp.com" target="_blank" title="CakePHP Lighthouse App">Lighthouse</a>.'); ?>
	</p>
	<h3>
		<?php echo __('Found a Bug?'); ?>
	</h3>
	<p>
		<?php echo __('Sometimes there are problems in <strong>CakePHP</strong>. If you think you\'ve come across one you can:'); ?>
	</p>
	<ul>
		<li>
			<?php echo __('Search for a similar <a href="http://cakephp.lighthouseapp.com/projects/42648-cakephp/tickets?q=ITS%2BBROKEN" target="_blank" title="CakePHP tickets at Lighthouse">existing ticket</a>.'); ?>
		</li>
		<li>
			<?php echo __('Create a <a href="http://cakephp.lighthouseapp.com/projects/42648-cakephp/tickets/new" target="_blank" title="Create a CakePHP ticket at Lighthouse">new ticket</a> if you\'re sure it doesn\'t already exist OR update the existing ticket.'); ?>
		</li>
		<li>
			<?php echo __('Add detailed instructions on how to reproduce the bug. This could be in the form of test cases or a code snippet that demonstrates the issue. Not having a way to reproduce an issue, means its less likely to get fixed.'); ?>
		</li>
	</ul>
	<h3>
		<?php echo __('New Tickets That Need Triaging'); ?>
	</h3>
	<p>
		<?php echo __('All <a href="http://cakephp.lighthouseapp.com/projects/42648-cakephp/tickets/bins/93362" target="_blank" title="CakePHP new tickets at Lighthouse">new tickets</a> need to be triaged and have the correct tags, as well as having a milestone assigned to them. You can help by looking at new tickets and adding the correct tags. Additionally, confirming or asking for more information on unclear tickets doesn\'t take much time, and helps speed up the process.'); ?>
	</p>
	<p>
		<?php echo __('Tags for tickets usually contain which classes, methods, and other generic properties are involved. The tags <em>defect</em>, <em>enhancement</em> and <em>rfc</em> move tickets into related bins.'); ?>
	</p>
	<h3>
		<?php echo __('Confirm or Invalidate Existing Tickets That Need a Way to Reproduce'); ?>
	</h3>
	<p>
		<?php echo __('If a ticket cannot be easily reproduced, or is unclear, it will be set to hold. Tickets on hold generally need a way to be confirmed or require additional information. You can help by finding out ways to reproduce tickets, or prodding ticket authors for more information. Tickets that are on hold can be found <a href="http://cakephp.lighthouseapp.com/projects/42648-cakephp/tickets/bins/146132" target="_blank" title="CakePHP tickets on hold at Lighthouse">here</a>.'); ?>
	</p>
	<h3>
		<?php echo __('Bug Tickets for Maintenance Releases'); ?>
	</h3>
	<p>
		<?php echo __('Existing releases usually have a few issues open against them. These issues generally need patches and test cases created for them, so they can be resolved. Preparing patches for <a href="http://cakephp.lighthouseapp.com/42648-cakephp/tickets/bins/90069" target="_blank" title="CakePHP open and unresolved issues at Lighthouse">open unresolved issues</a> is a great way to get involved with <strong>CakePHP</strong>, and is one of the first steps to becoming a core contributor. If you\'re interested in a particular version, there are lists of open unassigned tickets for.'); ?>
	</p>
	<ul>
		<li>
			<?php echo __('<a href="http://cakephp.lighthouseapp.com/projects/42648-cakephp/tickets/bins/92789" target="_blank" title="1.3.x unassigned open tickets">1.3.x unassigned open tickets</a>'); ?>
		</li>
		<li>
			<?php echo __('<a href="http://cakephp.lighthouseapp.com/projects/42648-cakephp/tickets/bins/228812" target="_blank" title="2.0.x unassigned open tickets">2.0.x unassigned open tickets</a>'); ?>
		</li>
	</ul>
	<h3>
		<?php echo __('Features and Enhancements for Future Releases'); ?>
	</h3>
	<p>
		<?php echo __('We are currently working towards the <a href="http://cakephp.lighthouseapp.com/projects/42648-cakephp/milestones/139708-300" target="_blank" title="CakePHP 3.0 milestone">3.0 milestone</a>. There are still a number of incomplete tasks and <a href="http://cakephp.lighthouseapp.com/projects/42648-cakephp/tickets/bins/418936" target="_blank" title="CakePHP 3.0 unresolved tickets">unresolved tickets</a>. If a ticket has been moved into the 3.0 milestone it is planned for inclusion in the release. Tickets are moved into this milestone based on community feedback and the core team\'s plans. If you plan on contributing a feature, please also include relevant test cases for the feature. We want to keep <strong>CakePHP</strong> as bug free as possible, and test cases have proven to help immensely. If you submit features without test cases, and no documentation it is highly unlikely it will be merged in.'); ?>
	</p>
	<p>
		<?php echo __('<strong>CakePHP</strong> is <a href="http://en.wikipedia.org/wiki/Continuous_integration" target="_blank" title="Continuous Integration">continuously integrated</a>, so you can check the status of the <a href="http://ci.cakephp.org" target="_blank" title="CakePHP CI">various builds</a> on the <strong>Jenkins</strong> server at any time.'); ?>
	</p>
	<h2>
		<?php echo __('Documentation'); ?>
	</h2>
	<p>
		<?php echo __('Documentation is another excellent way to start getting involved with <strong>CakePHP</strong>. We have two primary forms of documentation, the <a href="http://api.cakephp.org" target="_blank" title="CakePHP API">API</a> and the <a href="http://book.cakephp.org" target="_blank" title="CakePHP CookBook">CookBook</a>. The API is generated from the source code, so if you find an inaccuracy or issue with the API documentation, you can file a patch against the source code. The CookBook is a community edited and moderated wiki. Once you have a <strong>Bakery</strong> account you can edit and add any documentation you think is useful. Also, submitting an article to the Bakery is a good way to share your code, processes, and experiences with <strong>CakePHP</strong>. Submissions are moderated and reviewed before publishing.'); ?>
	</p>
	<h2>
		<?php echo __('Translations'); ?>
	</h2>
	<p>
		<?php echo __('We have developers from countries all over the world who use <strong>CakePHP</strong>. If you\'re a non-english speaker, translating the <a href="http://api.cakephp.org" target="_blank" title="CakePHP API">API</a> or the <a href="http://book.cakephp.org" target="_blank" title="CakePHP CookBook">CookBook</a> content into your language is another way to help support the community. Providing the official documentation and support material in as many languages as possible helps lower the barrier to entry to using the framework.'); ?>
	</p>
	<br/>
</div>

